.services {
    /* padding: 0 6rem 0 3rem; */
    /* display: flex; */
    /* height: 100vh; */
    margin-top: 5rem;
    margin-bottom: 4rem;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

.awesome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
    /* margin-right: 9rem; */
    /* flex: 1; */
    /* max-width: 45%; */
}

.awesome > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(3) {
    color: var(--gray);
    font-size: 18px;
    /* margin-top: 1rem; */
}

.s-button {
    width: 10rem;
    height: 2.5rem;
    margin-top: 0.3rem;
}

.cards {
    display: flex;
    gap: 3rem;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 2rem; */
}

.cards > * {
    position: relative;
    /* width: 30%; Default card width */
}

/* Mobile view adjustments */
@media screen and (max-width: 768px) {
    .services {
        flex-direction: column;
        padding: 0;
        gap: 3rem;
        height: auto;
    }

    .awesome {
        margin-right: 0;
        max-width: 100%;
    }

    .awesome > :nth-child(1), .awesome > :nth-child(2) {
        font-size: 2rem;
    }

    .s-button {
        width: 12rem;
        height: 2.8rem;
    }



    .s-blur2 {
        left: 0;
        top: 10rem;
    }

    .s-blur1 {
        top: 10rem;
        left: 0;
    }
}

/* Mobile portrait adjustments */
@media screen and (max-width: 480px) {

    .cards {
        flex-wrap: wrap;
        gap: 0rem;
        margin-top: 50px;
    }
    .s-blur2, .s-blur1 {
        display: none;
    }
}
