.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin-top: 4rem;
    margin-left:3rem; 
    margin-right:3rem
}

.portfolio > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.portfolio > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Mobile View */
@media screen and (max-width: 768px) {
    .portfolio {
        height: auto; /* Remove fixed height for flexibility */
        margin-top: 3rem;
    }

    .portfolio img {
        width: 15rem; /* Adjust image size for better fit */
    }
}

/* Very Small Screens */
@media screen and (max-width: 480px) {
    .portfolio {
        padding: 0 1rem; /* Add padding for better spacing */
    }

    .portfolio img {
        width: 12rem; /* Reduce image size for small screens */
    }
}


.content{
    width:100%;
    padding: 15px 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.582);
    color: white;
    transform: translateY(100%);
    transition: all 0.35s ease;
}

.card1:hover .content{
    transform: translateY(0);
}

h3{
    font-size: 30px;
}

.icons{
    width: 130px;
    display: flex;
    justify-content: space-evenly;
}

.icons i{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.274);
    transition: all 0.2s ease;
}

.icons i:hover{
    color: rgba(255, 255, 255, 0.438);
}