.card1 {
width: 400px;
  height: auto;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px; 
  cursor: pointer;
}


.content {
  width: 100%;
  /* padding: 10px 20px; */
  box-sizing: border-box;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.582); */
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  color: white;
  transform: translateY(100%);
transition: transform 0.6s ease;}

.card1:hover .content {
  transform: translateY(0);
transition: transform 0.6s ease;
}

h3 {
  font-size: 30px;
}

.icons {
  width: 130px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.icons i {
  font-size: 20px;
  color: rgba(3, 3, 3, 0.274);
  transition: all 0.1s ease;
}

.icons i:hover {
  color: rgba(0, 0, 0, 0.438);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.heading{
    color: var(--black);
    font-weight: bold;
}
